{% extends "components/layout.html" %}

{% load static %}
{% load custom_tags %}

{% block title %}Auth{% endblock %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock %}

{% block styles %}
<style>
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
    }
    
    @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
    }
    </style>
{% endblock %}

{% block content %}
<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-8">
          <div class="card rounded-3 text-black">
            <div class="row g-0 align-items-center text-center gradient-custom-2">                
                <div class="card-body">
                    <h5 class="card-title">{{confirmation_title}}</h5>
                    <p class="card-text">{{confirmation_message}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
